*{
    margin: 0%;
    padding:0% ;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 27px;
}
nav h1{
    font-size: 40px;
    margin-top: -10px;
}
nav ul{
    display: flex;
}
ul li{
    margin-inline: 35px;
    list-style: none;
    font-size: 20px;
}
ul li a:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;

}
.text{
    width: 550px;
    height: 520px;
    background-color:rgb(255,224,229);
    text-align: center;

}
.text h1{
    margin-top: 70px;
    font-size: 56px
}
.text h2{
    margin-top: 10px;
    font-size: 31px
}
.text h3{
    margin-top: 70px;
    font-size: 66px
}
.text button{
    width: 140px;
    height: 40px;
    background-color: transparent;
    color: black;
    font-size: 20px;
    margin-top: 33px;

}
.text button:hover{
    background-color: black;
    color: white;
}

.text2{
    width: 550px;
    background-color: rgb(181,212,254,0.858);
    text-align: center;

}
.text2 h1{
    margin-top: 70px;
    font-size: 56px
}
.text2 h2{
    margin-top: 10px;
    font-size: 31px
}
.text2 h3{
    margin-top: 70px;
    font-size: 66px
}
.text2 button{
    width: 140px;
    height: 40px;
    background-color: transparent;
    color: black;
    font-size: 20px;
    margin-top: 33px;

}
.text2 button:hover{
    background-color: black;
    color: white;
}

.img-div{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    

}
.img-div .card{
    margin-inline: 10px;
    text-align: center;
}
.img-div .card:hover{
    margin-top: -10px;
}
.card h1{
    background-color: rgb(232, 219, 219);
    font-size: 25px;
    margin-top: -5px;
    padding: 10px;
}

.items{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: black;
    padding: 30px;
    color: white;
}
.items .acc{
    margin-inline: 20px;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 33px;
     
}
.footer .point{
    border-left: 1px solid black;
     
}
.point h3{
    margin-left: 22px;
}
.footer .point li{
    margin: 22px;
    list-style: none;
}